@import "tailwindcss";

@font-face {
  font-family: 'High Spirited';
  src: url('./assets/fonts/HighSpirited.woff2') format('woff2'),
    url('./assets/fonts/HighSpirited.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --high-spirited: 'High Spirited', serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-lora: var(--font-lora);
  --font-high-spirited: var(--high-spirited);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #EEF3F1;
  color: var(--foreground);
  font-family: var(--font-lora);
}

.container {
  max-width: 500px;
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.line {
  left: 9%;
}

.Foreword {
  padding: 120px 0px;
  position: relative;
  text-align: center;
  z-index: 1;
  overflow: hidden;
  height: 100vh;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100vh;
    background-image: url('/portada-flores-section1.png');
    position: absolute;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    z-index: -1;
  }

   @media(max-width: 430px) {
    padding: 100px 0px;

    &::before {
      height: 100%;
    }
  }

  @media(max-width: 390px) {
    padding: 90px 0px;
    height: 100vh;
     &::before {
      height: 100%;
    }
  }
}

.Timer {
  position: relative;
  text-align: center;
  z-index: 1;
  height: 555px;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('/portada-flores-timer.png');
    position: absolute;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.Acknowledgments {
  position: relative;
  text-align: center;
  z-index: 1;
  padding: 131px 90px;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('/acknowledgments-bg.png');
    position: absolute;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    z-index: -1;
  }

  @media(max-width: 768px) {
    padding: 60px 40px;
  }
}

.WeddingDetails {
  position: relative;
  text-align: center;
  z-index: 1;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('/wedding-details-bg.png');
    position: absolute;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
  --swiper-navigation-size: 20px; /* Cambia el tamaño aquí */
  color: white;
}